<h1>BEST DEALS OF <em>NOVAMBER</em></h1>
<div class="carousel-container">
    <div class="button button-left" (click)="shiftLeft()"><img src="https://image.ibb.co/mRsEb7/left_arrow.png" alt=""></div>
    <div class="cards-wrapper">
        <ul class="cards__container">
            <li class="box">
              <img src="../assets/imgs/layer28.jpg" class="item-img">
              <div class="item-info">
                  <p class="price">10$</p>
                  <p class="des">Blue jeans</p>
                  <button class="shop">shop now</button>
                </div>
            </li>
            <li class="box">
              <img src="../assets/imgs/layer26.jpg" class="item-img">
              <div class="item-info">
                  <p class="price">12$</p>
                  <p class="des">pattern socks</p>
                  <button class="shop">shop now</button>
                </div>
            </li>
            <li class="box">
              <img src="../assets/imgs/layer30.jpg" class="item-img">
              <div class="item-info">
                  <p class="price">12$</p>
                  <p class="des">thiev shirt</p>
                  <button class="shop">shop now</button>
                </div>
            </li>
            <li class="box">
              <img src="../assets/imgs/layer21.png" class="item-img">
              <div class="item-info">
                  <p class="price">20$</p>
                  <p class="des">ligths sneaker</p>
                  <button class="shop">shop now</button>
                </div>
            </li>
            <li class="box">
              <img src="../assets/imgs/layer29.jpeg" class="item-img">
              <div class="item-info">
                  <p class="price">19$</p>
                  <p class="des">black tight</p>
                  <button class="shop">shop now</button>
                </div>
            </li>
        </ul>
        <div class="card__text-content">
            <h3 class="card__title">The Famous Five</h3>
            <div class="card__summary">The Famous Five is a series of children's adventure novels written by English author Enid Blyton. The first book, Five on a Treasure Island, was published in 1942.</div>
        </div>
    </div>
    <div class="button button-right" (click)="shiftRight()"><img src="https://image.ibb.co/dfPSw7/right_arrow.png" alt=""></div>
</div>
