<section id="social">
    <div class="overlay">
        <div>
            <div class="social-header">
              <h2>FOLLOW US</h2>
              <p>On all Social Media Platforms</p>
            </div>
                <ul class="social-button">
                    <li class="wow animated zoomIn"><a href="#">
                      <mdb-icon fab icon="facebook-f" size="2x"></mdb-icon>
                    </a></li>
                    <li class="wow animated zoomIn" data-wow-delay="0.3s"><a href="#">
                      <mdb-icon fab icon="twitter" size="2x"></mdb-icon>
                    </a></li>
                    <li class="wow animated zoomIn" data-wow-delay="0.6s"><a href="#">
                      <mdb-icon fab icon="instagram" size="2x"></mdb-icon>
                    </a></li>
                </ul>
            </div>
    </div>
</section>
