.container {
  padding-top: 100px;
}

.add-item {
margin-top: 100px;
}

.customTable {
  margin-top: -2px;
}

.mat-tab-label {
  min-width: 132px !important;
}

.mat-tab-label .mat-tab-label-content {
  font-size: 23px !important;
  text-transform: uppercase !important;
}

.item-img {
  width: 96px;
  height: 115px;
}
