<div class="container">
        <div class="row categories">
          <div class="col col-sm-4 col-md-4">
            <img src="../assets/imgs/layer33.png" alt="">
            <h2>LEATHER</h2>
            <button id="leather" routerLink='/leather'>SHOP LEATHER</button>
          </div>

          <div class="col col-sm-4 col-md-4">
            <img src="../assets/imgs/layer34.png" alt="">
            <h2>WEDDINGS</h2>
            <button id="wedding" routerLink='/wedding'>SHOP WEDDINGS</button>
          </div>

          <div class="col col-sm-4 col-md-4">
            <img src="../assets/imgs/layer35.png" alt="">
            <h2>ACCESSORIES</h2>
            <button id="access" routerLink='/accessories'>SHOW ACCESS.</button>
          </div>
        </div>
      </div>
