<div>
  <app-slider></app-slider>
</div>

<!-- layer 1 -->
<div class="view">
  <img src="../assets/imgs/layer1.jpg" class="img-fluid" alt="placeholder">
  <div class="mask flex-center waves-effect waves-light" id="overLay">
    <h3 class="white-text" id="overLayText1"></h3>
    <h3 class="white-text" id="overLayText2"></h3>
    <h3 class="white-text text-ender" id="overLayText3"></h3>
    <button class="check-it1" id="overLayButton"></button>
  </div>
</div>

<!-- layer 2 -->
<div class="view">
  <img src="../assets/imgs/layer2.jpg" class="img-fluid" alt="placeholder">
  <div class="mask waves-effect waves-light" id="overLay2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 outfits">
            <h3 class="white-text2" id="overLay2Text1"></h3>
            <h3 class="white-text2" id="overLay2Text2"></h3>
            <h3 class="white-text2 text-ender2" id="overLay2Text3"></h3>
            <button class="check-it2" id="overLay2Button"></button>
        </div>
        <div class="col-md-6 specials">
          <p class="head-text" id="specialsHeader"></p>
          <p class="text3" id="specials1"></p>
          <p class="text3" id="specials2"></p>
          <p class="text3" id="specials3"></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- big deals -->
<div class="container">
    <app-carousel></app-carousel>
</div>

<!-- categories -->
<div class="">
  <app-categories></app-categories>
</div>
